/* -----------------------------------------------------*/
/* ------------------->>> bfh.less <<<-------------------*/
/* -----------------------------------------------------*/

/* Custom Baltimore Food Hub
========================================================================================= */
body {
  background: white;
  margin: 0;
  padding: 0;
  /* temp for testing */
//   background: white url('../bfh-8p-baseline.png') top left repeat;
}

/* Typograhy, etc.
====================================================================== */

h1, h2, h3, h4, h5, h6, p, table {
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

a { color: @bfh-green; }

/* topbar with sitename and links */
header {
  background: white;
  border-bottom: 2px solid @bfh-black;
  height: 3rem;
  width:100%;
  position: fixed;
  top:  0;
  right:0;
  left: 0;
  z-index: 999;
  vertical-align: middle
}

header h1 {
  font-size: 1.66rem;
  letter-spacing: 1px;
  line-height: 3rem;
  text-decoration: none;
  float: left;
  padding-left: 1rem;
  padding-right: 1rem;
  .deming-stack;
}

header nav ul {
  margin: 0;
  padding: 0;
  text-align: right;
}

header nav ul li {
  display: inline-block;
}

header nav ul li a {
  display: block;
  color: @bfh-black;
  font-style: normal;
  font-weight: normal;
  letter-spacing: 1px;
  line-height: ~"calc(3rem - 2px)";
  padding-left: .75rem;
  padding-right: .75rem;
  text-decoration: none;
}

header nav ul li a:hover {
  background: @bfh-green;
  color: white;
}

header nav ul li a:active {
  background: @bfh-green;
  color: @bfh-black;
  box-shadow: inset 1px 2px 3px rgba(35,31,32,.25);
}

header nav ul li.active a,
header nav ul li a.active {
  color: @bfh-green;
}

header figure {
  display: inline-block;
  height: 200px;
  width: 200px;
  overflow: hidden;
  position: absolute;
  top: 1rem;
  left: 1rem;
}

/**/

img {
  max-width: 100%;
  height: auto;
}

/* Main sections
  -----------------------------------------------------*/

.container,
.group {
  margin-bottom: 0;
}

main > article {
  padding-top: 5rem;
  padding-bottom: 5rem;
}

section > h3 {
  border-top: 2px solid;
  font-size: .9rem;
  letter-spacing: 3px;
  line-height: 1rem;
  margin: 0 0 1.5rem 0;
  padding-top: .4rem;
  text-transform: uppercase;
  .deming-stack;
}

article h2 {
  .deming-stack;
  font-size: 1.5rem;
  letter-spacing: 2px;
  margin-top: 0.5rem !important;
}

#about   { background-color: white; }
#contact { background-color: white; }
#leasing { background-color: @bfh-slate; border-top: 2px solid @bfh-black; color:white;}

#about {
  background-image: url('../pumphouse.png');
  background-position: -15% bottom;
  background-repeat: no-repeat;
  background-size: 50%;
}

/* contact */
#contact .contact-form {
  margin-left: -1%;
  margin-right: -1%;
}

/* Footer
  -----------------------------------------------------*/

footer {
  background: @bfh-green url('../footerflair.png') center center no-repeat;
  background-attachment: fixed;
  background-size: cover;
  border-top: 2px solid @bfh-black;
  padding-top: 2rem;
  padding-bottom: 6rem;
}

/* -----------------------------------------------------*/
/* ---------------->>> /END bfh.less <<<-----------------*/
/* -----------------------------------------------------*/
