/* -----------------------------------------------------*/
/* ------------------->>> bfh.less <<<-------------------*/
/* -----------------------------------------------------*/

/* Custom Baltimore Food Hub
========================================================================================= */
body {
  background: white;
  margin: 0;
  padding: 0;
  font-family: @gentium-stack;
  /* temp for testing */
//   background: white url('../bfh-8p-baseline.png') top left repeat;
}

/* Typograhy, etc.
====================================================================== */

h1, h2, h3, h4, h5, h6, p, table {
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

a { color: @bfh-yellow; }

/* topbar with sitename and links */
header {
  background: white;
  border-bottom: 2px solid @bfh-black;
  height: 3rem;
  width:100%;
  position: fixed;
  top:  0;
  right:0;
  left: 0;
  z-index: 999;
  vertical-align: middle
}

header h1 {
  font-size: 1.66rem;
  letter-spacing: 1px;
  line-height: 3rem;
  text-decoration: none;
  float: left;
  padding-left: 1rem;
  padding-right: 1rem;
  .deming-stack;
}

header nav ul {
  margin: 0;
  padding: 0;
  text-align: right;
}

header nav ul li {
  display: inline-block;
}

header nav ul li a {
  display: block;
  color: @bfh-black;
  font-family: helvetica, arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  letter-spacing: 1px;
  line-height: ~"calc(3rem - 2px)";
  padding-left: .75rem;
  padding-right: .75rem;
  text-decoration: none;
}

header nav ul li a:hover {
  background: @bfh-gray417;
  color: white;
}

header nav ul li a:active {
  background: @bfh-gray417;
  color: @bfh-black;
  box-shadow: inset 1px 2px 3px rgba(35,31,32,.25);
}

header nav ul li.active a,
header nav ul li a.active {
  color: @bfh-gray417;
}

header nav ul li.active a:hover {
  color: white;
}

header figure {
  display: none;
  height: 250px;
  width: 250px;
  overflow: hidden;
  position: absolute;
  top: .5rem;
  left: 1rem;
}

@media (min-width: 40rem) {
  header figure {
    display: block;
  }
  header h1 {
    display: none;
  }
}


/**/

img {
  max-width: 100%;
  height: auto;
}

/* Main sections
  -----------------------------------------------------*/

.container,
.group {
  margin-bottom: 0;
}

main > article {
  padding-top: 5rem;
  padding-bottom: 5rem;
}

section > h3 {
  border-top: 2px solid;
  font-size: .9rem;
  letter-spacing: 3px;
  line-height: 1rem;
  margin: 0 0 1.5rem 0;
  padding-top: .4rem;
  text-transform: uppercase;
  .deming-stack;
}

article h2 {
  .deming-stack;
  font-size: 1.5rem;
  letter-spacing: 2px;
  margin-top: 0.5rem !important;
}

#about   { background-color: @bfh-red174; color: @bfh-white; }
#contact { background-color: @bfh-yellow; border-top: 2px solid @bfh-white; }
#leasing { background-color: @bfh-green; border-top: 2px solid white; }

/* About stripe
  ==============================================*/
#about {
  background-image: url('../about-flair-white.png');
  background-position: left bottom;
  background-repeat: no-repeat;
  background-size: 100%;
}

@media (min-width: 30rem) {
  #about {
    background-size: 60%;
  }
}

#about div.bordered {
  background: @bfh-red174;
  border: 15px solid @bfh-white;
  border-bottom-width: 30px;
  color: @bfh-white;
  font-weight: bold;
  padding: 1.25em;
}

/* contact */
#contact {
  background-image: url('../contact-flair-white.png');
  background-position: left bottom;
  background-repeat: no-repeat;
  background-size: 100%;
}

@media (min-width: 30rem) {
  #contact {
    background-size: 75%;
  }
}
#contact .contact-form {
  margin-left: -1%;
  margin-right: -1%;
}

/* Footer
  -----------------------------------------------------*/

footer {
  background: @bfh-white url('../footer-slate-flair.png') center bottom no-repeat;
  background-size: cover;
  border-top: 2px solid @bfh-slate;
  padding-top: 2rem;
  padding-bottom: 6rem;
}

footer a {
  color: @bfh-slate;
}

footer .overlay {
  background: white;
  border: 1px solid @bfh-slate;
  color: @bfh-slate;
  padding: 1em;
  /** trying to get some things to break nicely when columns get skinny **/
  -ms-word-break: break-all;
   word-break: break-all;
   // Non standard for webkit
   word-break: break-word;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  -o-hyphens: auto;
  hyphens: auto;
  overflow-wrap: break-word;
  word-wrap: break-word;
}

footer .overlay li {
  margin: 0 0 .25em 0;
}

footer .footer-credits {
  background: rgba(255,255,255,.75);
  position: absolute;
  right: 0;
  bottom: 0;
}

footer .footer-credits p {
  color: @bfh-silver;
  margin: 0;
  font-size: .75rem;
  letter-spacing: 1px;
  padding: .5em;
  text-transform: uppercase;
  font-family: helvetica, arial, sans-serif;
}

/* -----------------------------------------------------*/
/* ---------------->>> /END bfh.less <<<-----------------*/
/* -----------------------------------------------------*/
