/** Styles for the map **/

#map {
  position: relative;
  margin-bottom: 4rem;
  border-bottom: 3px solid black;
}

#map .building {
  position: absolute;
  height: 30px;
  width: 30px;
  z-index: 99;
  border:none;
  font-size: 1.11111rem;
  color: rgba(255,255,255,0);
}

#map .building,
#map .building::after {
  background: rgba(110,203,152,.1);
}

#map .building:hover,
#map .building:hover::after {
  background: rgba(110,203,152,.66);
  color: rgba(255,255,255,1);
}

#map img {
  position: relative;
  z-index: 0;
  width: 100%;
}

/** position and "design" the building overlays with CSS **/
#map .bld0 {
  top:    10%;
  left:   35%;
  height: 25%;
  width:  11%;
}

#map .bld0::after {
  position:   absolute;
  content:    '';
  width:  35%;
  height: 40%;
  bottom: 0;
  right: -35%;
}

#map .bld1 {
  top:    10%;
  left:   53.75%;
  height: 22%;
  width:  9%;
}

#map .bld1::after {
  position:   absolute;
  content:    '';
  width:  26%;
  height: 35%;
  top:    32%;
  right: -26%;
}

#map .bld2 {
  top:    10%;
  left:   65.8%;
  height: 23%;
  width:  7.5%;
}

#map .bld3 {
  top:    50%;
  left:   11%;
  height: 20%;
  width:  23%;
}

/*foodtrucks*/
#map .bld4 {
  top:    58.5%;
  left:   35%;
  height: 10.5%;
  width:  23%;
}

#map .bld4::after {
  position:   absolute;
  content:    '';
  width:  40.5%;
  height: 75%;
  bottom: -75%;
  right:  0;
}

/*urban farming */
#map .bld5 {
  top:    69.333%;
  left:   34.5%;
  height: 16%;
  width:  14.3333%;
}

.building-info {
  position: absolute;
  z-index: 199;
  background: rgba(110,203,152,.8);
  padding: 1em;
  top:    0;
  bottom: 0;
  right:  0;
  width: 24%;
}

.building-info h3 {
  font-size: 1.1rem;
  letter-spacing: 0;
  font-weight: bold;
}

/** /end styles for the map **/