/** Styles for the map **/

#map {
  position: relative;
  border-top: 2px solid @bfh-slate;
  max-width: 100%;
  overflow: hidden;
  color: @bfh-slate;
}

#map h2,
#map p.small {
  margin: 1rem auto;
  padding: 0 1rem 0 1rem;
  width: 100%;
}

#map h2 { margin-bottom: 0; padding-top: 2rem; }
#map p.small { margin-top: 0; padding-bottom: 1rem;}

@media (min-width: 30rem) {
  #map h2,
  #map p.small {
    width: 80%;
  }
}

@media (min-width: 50rem) {
  #map h2,
  #map p.small {
    position: absolute;
    left: 10%;
    z-index: 2;
    margin: 0;
    padding: 0;
  }
  #map h2 { top: 3rem; padding: 0; }
  #map p.small { top: 5.333rem; }
}

#map .map-group {
  position: relative;
}

@media (max-width: 50rem) {
  #map .map-group {
    width: 124%;
    margin-left: -21%;
    border-top: 2px solid;
  }
}

/*********************/
/*********************/
/*********************/

/** buildings **/
#map .building {
  border:none;
  color: rgba(255,255,255,0);
  cursor: pointer;
  font-size: 1.11111rem;
  outline: none;
  /**/
  position: absolute;
  height: 30px;
  width: 30px;
  z-index: 99;
}

#map .building,
#map .building::before,
#map .building::after {
  background: transparent;
}

#map .building:hover,
#map .building:active,
#map .building:hover::before,
#map .building:hover::after,
#map .building:active::before,
#map .building:active::after {
  background: transparent;
}

#map .building span {
  display: inline-block;
  padding: .25em;
  box-shadow: none;
  background: transparent;
}

#map .building:hover span {
  border-radius: 3px;
  box-shadow: 0 0 4px rgba(0,0,0,.33);
}

@media (min-width: 50rem) {
  #map .building:hover,
  #map .building:active,
  #map .building:hover::before,
  #map .building:hover::after,
  #map .building:active::before,
  #map .building:active::after {
    color: @bfh-white;
  }
}

#map img {
  position: relative;
  z-index: 0;
  width: 100%;
  margin: 0;
  padding: 0;
  display: block;
}

/** position and "design" the building overlays with CSS **/
#map .building.bld0 {
  top:    33%;
  left:   49.5%;
  height: 19%;
  width:  15%;
  top: 36%;
  left: 50%;
  height: 19%;
  width: 16%;
}

#map .building.bld0:hover span {
  background: rgba(154,56,32,.66);
}

#map .building.bld1 {
  top: 42%;
  left: 71.25%;
  height: 16.5%;
  width: 12%;
}

#map .building.bld1:hover span {
  background: rgba(237,170,0,.66);
}

#map .building.bld2 {
  top: 38%;
  left: 87%;
  height: 22.5%;
  width: 11.8%;
}

#map .building.bld2:hover span {
  background: rgba(110,203,152,.66);
}

#map .building.bld3 {
  top: 43.5%;
  left: 11%;
  height: 17%;
  width: 31%;
}

#map .building.bld3:hover span {
  background: rgba(97,126,149,.66);
}

/*foodtrucks*/
#map .building.bld4 {
  top: 55.5%;
  left: 45%;
  height: 22%;
  width: 21%;
}

#map .building.bld4:hover span {
  max-width: 75%;
  background: rgba(153,164,174,.66);
}

/*urban farming */
#map .building.bld5 {
  top: 60.7%;
  left: 28%;
  height: 15.2%;
  width: 17%;
}

#map .building.bld5:hover span {
  background: rgba(92,73,37,.66);
}

@media (max-width: 50rem) {
  #map .building:hover span {
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: inline-block;
    vertical-align: middle;
    .hide-text;
  }
}

/*********************/
/*********************/
/*********************/

/* popup */
.building-info {
  border: 1px solid @bfh-slate;
  color: @bfh-white;
  margin: -8% 0 0; // position the popup as close to the bottom of the buildings as possible on small screens.
  padding: 1em;
  z-index:  199;
  /**/
}

.building-info.bld0 { background-color: @bfh-red174;    }
.building-info.bld1 { background-color: @bfh-yellow;    }
.building-info.bld2 { background-color: @bfh-green;     }
.building-info.bld3 { background-color: @bfh-blue;      }
.building-info.bld4 { background-color: @bfh-silver;    }
.building-info.bld5 { background-color: @bfh-darkbrown; }

.building-info li {
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;
  width: 100%;
}

@media (min-width: 30rem) {
  .building-info li {
    width: 80%;
  }
}

.building-info li.close {
  position: absolute;
  top: 11px;
  right: 11px;
  z-index: 209;
  height: 22px;
  width: 22px;
}

.building-info li.bld-number {
  color: @bfh-black;
}

.building-info h3 {
  font-size: 1.1rem;
  letter-spacing: 0;
  font-weight: bold;
}

li.list-item {
  list-style: circle inside;
}

li.list-item,
li.list-item span {
  font-weight: 400 !important;
}

@media (min-width: 50rem ) {
  .building-info {
    font-size: 1.25rem;
    margin:0;
    position: absolute;
    height: 100%;
    width: 450px;
    top:0;
    box-shadow: 0 0 6px rgba(0,0,0,.33);
    transition: all 400ms;
    border-top:none;
    border-bottom:none;
    overflow: auto;
  }
  .building-info.bld3,
  .building-info.bld5 {
    right: 0;
  }
  .building-info li {
    width: auto;
    padding-left:  0;
    padding-right: 0;
  }
}

@media (min-width: 1000px ) {
  .building-info {
    width: 45%;
    transition: all 400ms;
    border: 1px solid @bfh-slate;
    overflow: visible;
  }

  .building-info::after {
    background: inherit;
    position: absolute;
    content: '';
    display: block;
    height: 30px;
    width: 30px;
    top: ~'calc(50% - 15px)';
  }

  .building-info.bld3,
  .building-info.bld5 {
    right: initial;
  }

  .building-info h3 {
    font-size: 1.5rem;
  }

  /* custom place all the building popups? */
  .building-info.bld0 {
    left: 5%;
  }
  .building-info.bld0::after {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    right: -16px;
    border-top: 1px solid @bfh-slate;
    border-right: 1px solid @bfh-slate;
  }

  .building-info.bld1 {
    left: 27%;
  }
  .building-info.bld1::after {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    right: -16px;
    border-top: 1px solid @bfh-slate;
    border-right: 1px solid @bfh-slate;
  }

  .building-info.bld2 {
    left: 42%;
  }
  .building-info.bld2::after {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    right: -16px;
    border-top: 1px solid @bfh-slate;
    border-right: 1px solid @bfh-slate;
  }

  .building-info.bld3 {
    left: 39%;
  }
  .building-info.bld3::after {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    left: -16px;
    border-bottom: 1px solid @bfh-slate;
    border-left: 1px solid @bfh-slate;
  }

  .building-info.bld4 {
    left: 0%;
  }
  .building-info.bld4::after {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    right: -16px;
    border-top: 1px solid @bfh-slate;
    border-right: 1px solid @bfh-slate;
    top: 67%;
  }

  .building-info.bld5 {
    left: 44%;
  }
  .building-info.bld5::after {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    left: -16px;
    border-bottom: 1px solid @bfh-slate;
    border-left: 1px solid @bfh-slate;
    top: 64%;
  }
}

@media (min-width: 1200px ) {
  .building-info {
    width: 36%;
    height:auto;
  }

  /* custom place all the building popups? */
  .building-info.bld0 {
    left: 15%;
    top: 20%;
  }

  .building-info.bld1 {
    left: 36%;
    top: 30%;
  }

  .building-info.bld2 {
    left: 51%;
    top: 30%;
  }

  .building-info.bld3 {
    left: 39%;
    top: 16%;
  }

  .building-info.bld4 {
    left: 12%;
    top: 43%;
  }
  .building-info.bld4::after {
    top: ~'calc(50% - 15px)';
  }

  .building-info.bld5 {
    left: 44%;
    top: 44%;
  }
  .building-info.bld5::after {
    top: ~'calc(50% - 15px)';
  }
}

.building-info h4 {
  .deming-stack;
  border: 1px solid;
  border-radius: 5px;
  text-align: center;
  font-size: 1.25rem;
  line-height: 2;
}

.building-info a {
  color: @bfh-white;
}

/** /end styles for the map **/