/****************************************************/
/****************************************************/
/****************************************************/
/****************************************************/
/****************************************************/

#slideshow {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 100%;
  min-height: 0%;
  margin: 0;
  overflow: hidden;
  padding: 0;
  text-align: center;
  width:100%;
  z-index: -2;
  text-align: center;
}

#slideshow img {
  display: inline-block;
  vertical-align: middle;
  width: 100%;
  max-width: 100%;
  height: auto;
  max-height: none;
  text-align: center;
}

/****************************************************/
/****************************************************/
/****************************************************/
/****************************************************/
/****************************************************/

/** slide left **/
.slide {
  position: absolute;
  left:0;
  opacity: 1;
}

.carousel-left-enter {
  opacity: 0.01;
  -webkit-transition: opacity .5s ease-in;
  -moz-transition: opacity .5s ease-in;
  -ms-transition: opacity .5s ease-in;
  -o-transition: opacity .5s ease-in;
  transition: opacity .5s ease-in;
}

.carousel-left-enter.carousel-left-enter-active {
  opacity: 1;
}

.carousel-left-leave {
  opacity: 1;
  -webkit-transition: opacity .5s ease-in;
  -moz-transition: opacity .5s ease-in;
  -ms-transition: opacity .5s ease-in;
  -o-transition: opacity .5s ease-in;
  transition: opacity .5s ease-in;
}
.carousel-left-leave.carousel-left-leave-active {
  opacity: 0.01;
}

/****************************************************/
/****************************************************/
/****************************************************/
/****************************************************/
/****************************************************/
