/****************************************************/
/****************************************************/
/****************************************************/
/****************************************************/
/****************************************************/

#slideshow {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 100%;
  min-height: 0%;
  margin: 0;
  overflow: hidden;
  padding: 0;
  text-align: center;
  width:100%;
  z-index: -2;
  text-align: center;
}

#slideshow img {
  display: inline-block;
  vertical-align: middle;
  height: auto;
  max-height: none;
  width: 100%;
  max-width: 100%;
  text-align: center;
}

#slideshow .slide {
  position: relative;
  width: 100%;
  height: 100%;
}

/****************************************************/
/****************************************************/
/****************************************************/
/****************************************************/
/****************************************************/

/** slide left **/
.carousel-left-enter {
  position: absolute;
  left:0;
  margin-left:100%;
  -webkit-transition: margin-left 500ms ease-in;
  -moz-transition: margin-left 500ms ease-in;
  -ms-transition: margin-left 500ms ease-in;
  -o-transition: margin-left 500ms ease-in;
  transition: margin-left 500ms ease-in;
}
.carousel-left-enter.carousel-left-enter-active {
  margin-left:0;
}

.carousel-left-leave {
  position: absolute;
  left:0;
  margin-left:0;
  -webkit-transition: margin-left 500ms ease-in;
  -moz-transition: margin-left 500ms ease-in;
  -ms-transition: margin-left 500ms ease-in;
  -o-transition: margin-left 500ms ease-in;
  transition: margin-left 500ms ease-in;
}
.carousel-left-leave.carousel-left-leave-active {
  margin-left: -100%;
}

/****************************************************/
/****************************************************/
/****************************************************/
/****************************************************/
/****************************************************/
