/* -----------------------------------------------------*/
/* --------------->>> variables.less <<<----------------*/
/* -----------------------------------------------------*/

/* @font-face declarations */
@font-face {
    font-family: 'DemingEP';
    src: url('ff/deming_ep-webfont.eot');
    src: url('ff/deming_ep-webfont.eot?#iefix') format('embedded-opentype'),
         url('ff/deming_ep-webfont.woff2') format('woff2'),
         url('ff/deming_ep-webfont.woff') format('woff'),
         url('ff/deming_ep-webfont.ttf') format('truetype'),
         url('ff/deming_ep-webfont.svg#deming_epregular') format('svg');
  font-style: normal;
  font-weight: normal;
}

.deming-stack {
  font-family: 'DemingEP', Helvetica, Arial, Sans-serif;
  font-style: normal;
  font-weight: normal;
}

@maintext:   rgba(125,116,87,.9); /* brown */
@activetext: rgba(158,81,78,1);   /* red */

/* -----------------------------------------------------*/
/* ------------->>> /end variables.less <<<-------------*/
/* -----------------------------------------------------*/
