/* -----------------------------------------------------*/
/* --------------->>> variables.less <<<----------------*/
/* -----------------------------------------------------*/

.deming-stack {
  font-family: 'DemingEPRegular', Helvetica, Arial, Sans-serif;
  font-style: normal;
  font-weight: normal;
}

.vevey-stack {
  font-family: 'VeveyRegular', Helvetica, Arial, Sans-serif;
  font-style: normal;
  font-weight: normal;
  letter-spacing: 1px;
}

@maintext:   rgba(125,116,87,.9); /* brown */
@activetext: rgba(158,81,78,1);   /* red */

  /*color:rgba(204,188,143,1);*/
  /*color:rgba(178,164,125,1);*/

/* -----------------------------------------------------*/
/* ------------->>> /end variables.less <<<-------------*/
/* -----------------------------------------------------*/
