/* -----------------------------------------------------*/
/* --------------->>> variables.less <<<----------------*/
/* -----------------------------------------------------*/

@import url(http://fonts.googleapis.com/css?family=Gentium+Basic:400,700,400italic,700italic);

/* @font-face declarations */
@font-face {
  font-family: 'DemingEP';
  src:  url('ff/deming_ep-webfont.eot');
  src:  local('Deming EP'),
        local('DemingEP'),
        url('ff/deming_ep-webfont.eot?#iefix') format('embedded-opentype'),
        url('ff/deming_ep-webfont.woff2') format('woff2'),
        url('ff/deming_ep-webfont.woff') format('woff'),
        url('ff/deming_ep-webfont.ttf') format('truetype'),
        url('ff/deming_ep-webfont.svg#deming_epregular') format('svg');
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'LeagueGothic';
  src: url('ff/leaguegothic-regular-webfont.eot');
  src:  local('League Gothic'),
        local('LeagueGothic-Regular'),
        url('ff/leaguegothic-regular-webfont.eot?#iefix') format('embedded-opentype'),
        url('ff/leaguegothic-regular-webfont.woff') format('woff'),
        url('ff/leaguegothic-regular-webfont.ttf') format('truetype'),
        url('ff/leaguegothic-regular-webfont.svg#league_gothic_italicregular') format('svg');
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'LeagueGothic';
  src: url('ff/leaguegothic-italic-webfont.eot');
  src:  local('League Gothic Italic'),
        local('LeagueGothic-Italic'),
        url('ff/leaguegothic-italic-webfont.eot?#iefix') format('embedded-opentype'),
        url('ff/leaguegothic-italic-webfont.woff') format('woff'),
        url('ff/leaguegothic-italic-webfont.ttf') format('truetype'),
        url('ff/leaguegothic-italic-webfont.svg#league_gothic_italicregular') format('svg');
  font-style: italic;
  font-weight: normal;
}

/**/
/**/
/**/

.deming-stack {
  font-family: 'DemingEP', Calibri, Helvetica, Arial, Sans-serif;
  font-style: normal;
  font-weight: normal;
}

@gentium-stack: 'Gentium Basic', Cambria, Georgia, Times, serif;

.league-gothic-stack {
  font-family: 'LeagueGothic', Calibri, Helvetica, Arial, Sans-serif;
  font-weight: normal;
}

@bfh-black:       rgba(35,31,32,1);
// @bfh-white:       rgba(255,255,255,1);
@bfh-yellow:      rgba(237,170,0,1);
@bfh-silver:      rgba(153,164,174,1);
@bfh-green:       rgba(110,203,152,1);
@bfh-blue:        rgba(97,126,149,1);
@bfh-slate-orig:  rgba(97,120,117,1);
@bfh-red174:      rgba(154,56,32,1);
@bfh-darkred:     rgba(123,64,57,1);
@bfh-darkbrown:   rgba(92,73,37,1);
@bfh-brown:       rgba(155,133,66,1);
@bfh-terracotta:  rgba(143,89,39,1);
@bfh-lighttc:     rgba(176,124,87,1);
@bfh-gray417:     rgba(102,102,93,1);
@bfh-gray402:     rgba(159,149,139,1);
@bfh-graywg8:     rgba(142,130,121,1);

@bfh-slate:       #4e4e4e;
@bfh-white:       lighten(@bfh-silver,33%);

/** other general reusable classes/hacks **/
.hide-text {
  text-indent: 200%;
  white-space: nowrap;
  overflow: hidden;
}

.show-text {
  text-indent: 0%;
  white-space: normal;
  overflow: visible;
}

li.close,
li.close button,
button.close {
  height: 22px;
  width: 22px;
}

li.close button,
button.close {
  .hide-text;
  background: transparent url('../bfh-close.png') center center no-repeat;
  background-size: cover;
  border: none;
  cursor: pointer;
}

/* -----------------------------------------------------*/
/* ------------->>> /end variables.less <<<-------------*/
/* -----------------------------------------------------*/
